.footer{
    padding: 60px 0px 0px 0px;
}
.footer_container{
    height: auto;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #034a3d ;
    /* border-radius: 40px; */
}
.footer_copyright{
    font-size: 12px;
    color: white;
    font-family: "Lilita One";
    letter-spacing: 3px;
}
.footer_container > div{
    height: auto;
    width: auto;
    /* border: 1px solid #fff; */
}
.footer_icons{
    display: flex;
}
.footer_icons > div{
    width: 40px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lilita One";
    color: white;
    border-radius: 100%;
    height: 40px;
    border: 1px solid #fff;
}
.footer_logo {
    font-size: 39px;
    color: white;
    font-family: "Lilita One";
}
@media screen and (max-width: 789px){
    .footer_container{
        display: block;
        padding: 10px 20px;
    }
    .footer_container > div{
      margin: 15px 0px;
    }
}